<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER DATA</title>
    
    <link  href="app.css" type="text/css" rel="stylesheet">
</head>
<body>
   <a href="/user"><button  id="btn" >LOAD DATA</button></a>

    <% if(data.length > 0) { %>
        <table id="mytable" border=1 >
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Role</th>
                <th>Address</th>
                <th>Edit</th>
            </tr>
            <% for (let i=0;i < data.length;i++)  { %>
                <tr>
                    <td><%= data[i].firstName %></td>
                    <td><%= data[i].middleName%></td>
                    <td><%= data[i].lastName%></td>
                    <td><%= data[i].email%></td>
                    <td><%= data[i].phoneNumber %></td>
                    <td><%= data[i].role %></td>
                    <td><%= data[i].address %></td>
                    <td>
                        <a href="/user/edit/<%= data[i].id %>"><button>Edit</button></a>
                        <a href="/user/delete/<%= data[i].id %>"><button>Delete</button></a>
                        <a href="/user"><button>Save</button></a>
                        <a href=""><button>Cancel</button></a>
                    </td>
                </tr>
            <% } %>
        </table>
    <% } %>
    <script src="app.ts"></script>

</body>
</html>